@media (min-width: 740px) and (max-width: 1024px) {
    .header__navbar {
        display: none;
    } 
}

.header__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 12px 24px;
}

.nav-item:hover {
    background-color: #ccc;
    
}

.nav-item__search:hover {
    background-color: var(--primary-color);
}

.nav-item__link {
    text-decoration: none;
    color: var(--white-color);
}

.nav-item__arrow {
    color: var(--white-color);
}

.nav-item__more {
    position: relative;
}

.nav-item__more:hover  
.sub-nav {
    display: block;
}

.sub-nav {
    position: absolute;
    width: 150px;
    top: calc(100%); 
    left: 0;
    list-style: none;
    background-color: var(--white-color);
    padding-left: 0;
    display: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.sub-nav-item {
    color: var(--text-color);
    padding: 8px 16px;
}

.sub-nav-item:hover {
    background-color: #ccc;
}

.sub-nav-item__link {
    text-decoration: none;
    color: var(--text-color);
}

.slide-show {
    width: 100%;
    margin-top: 46px;
}

.slide-show__img {
    width: 100%;
    position: relative;
}

.slide-show__content {
    margin: auto;
}

.slide-show__text {
    position: absolute;
    top: 90%;
    font-size: 2rem;
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.slide-show__text p {
    font-size: 1.6rem;
}

.the-band {
    background-color: var(--white-color);
    text-align: center;
    padding: 64px 0px;
    margin: 0 250px;
}

.the-band__heading {
    font-size: 3rem;
}

.the-band__italic {
    font-size: 1.4rem;
    font-style: italic;
    color: #ccc;
}

.the-band__description {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 3rem;
}

.the-band-member {
    display: flex;
    justify-content: space-evenly;
}

.the-band-item {

}

.the-band-item p {
    font-size: 1.6rem;
}

.the-band-member__img {
    max-width: 60%;
    height: auto;
    border-radius: 4px;
}

.tour-dates {
    background-color: #000;
    padding: 64px 16px;
    text-align: center;
    width: 100%;
}

.popup {
    width: 900px;
    height: 470px;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.popup.popup--show {
    visibility: visible;
}

.popup-top {
    position: relative;
    height: 30%;
    background-color: #009688;
    color: var(--white-color);
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.popup__close:hover {
    background-color: #ccc;
}

.popup__close i {
    color: var(--white-color);
}


.bag-icon {
    margin-right: 8px;
}

.popup-body {
    height: 70%;
    background-color: var(--white-color);
    padding: 20px 15px;
    text-align: left;
}
    
.popup-bottom {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.popup-bottom p {
    font-size: 1.4rem;
    font-weight: 200;
}

.popup-help__link {
    font-size: 1.4rem;
    color:#2196F3;
}

.ticket__price {
    font-size: 1.6rem;
    font-weight: 250;
}

.ticket-label {

}

.ticket-input {
    width: 100%;
    height: 39px;
    margin: 20px 0;
    font-size: 1.5rem;
    padding: 4px 8px;
    font-weight: 200;
}

.tour-dates__list {
    margin: 0 250px;
}

.tour-dates__heading {
    font-size: 3rem;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 30px 16px;
}

.tour-dates-day__description {
    color:#ccc;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
}

.tour-dates__list {
    list-style: none;
    background-color: var(--white-color);
    padding-left: 0;

}

.tour-dates__item {
    text-align: left;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 300;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 38px;
    padding-left: 16px;
}

.tour-dates__item-ticket {
    background-color: #f44336; 
    color: var(--white-color);
    padding: 0px 8px;
    margin-left: 20px;
}

.tour-dates__item-calendar {
    background-color: #000;
    color: var(--white-color);
    padding: 2px 8px;
    border-radius: 50px;
    margin-left: 680px;
}

.tour-dates__detail {
    text-align: left; 
    display: flex;  
    justify-content: space-between;
    padding-left: 0;
    margin: 20px 250px;
}

.tour-dates-day {
    max-width: 32%;
}

.tour-dates-day__info {
    background-color: var(--white-color);
    padding: 4px 8px;
    font-size: 1.4rem;
    
}

.tour-dates-day__location {

}

.tour-dates-day__date {
    
}

.tour-dates-day__description {
    color: var(--text-color);
}

.btn.tour-dates-day__btn {
    background-color: #000;
    padding: 12px 16px;
    color: var(--white-color);
    cursor: pointer;
}

.tour-dates-day__btn:hover {
    background-color: #ccc;
}



.tour-dates-day__img {
    max-width: 100%;
    height: auto;
    display: block;
}

.tour-dates-day__img:hover {
    opacity: 0.6;
}

.tour-dates-day__link {
    text-decoration: none;
    color: var(--white-color);
}

.contact {
    text-align: center;
    padding: 64px 16px;
    margin: 0 250px;
}

.contact__heading {
    font-size: 3rem;
    font-weight: 300;
}

.contact__note {
    font-size: 1.4rem;
    font-style: italic;
    color: var(--text-color); 
    font-weight: 100;
    line-height: 1.4rem;
}

.contact-form__info {
    list-style: none;
    padding-left: 0;
    text-align: left;
}

.contact-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.contact-form__info-item {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.6rem;
    padding: 8px 4px;
    text-align: left;
}

.contact-form__info-item i {
    /* font-size: 1.4rem; */
    margin-right: 16px;
}

.contact-form__input {
    width: 50%;
    text-align: right;
}

.contact-form__input-item {
    font-size: 1.6rem;
}

.contact-form__input-name {
    height: 38px; 
    width: 48%;
    border: 1px solid #ccc;
}

.contact-form__input-email {
    height: 38px; 
    width: 48%;
    border: 1px solid #ccc;
}

.contact-form__input-message {
    height: 38px; 
    width: calc(96% + 4px);
    text-align: left;
    margin-top: 8px;
    border: 1px solid #ccc;
}

.contact-form__btn {
    background-color: #000;
    padding: 8px 16px;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-top: 8px;
    
}

.contact-form__btn:hover {
    background-color: #ccc;
    cursor: pointer;
}

.map {
    padding-top: 50%;
    background: url('../img/map.jpg') top center / cover ;
}

.map-img {
    width: 100%;
    height: auto;
}

.footer {
    text-align: center;
    padding: 64px 16px;
}

.footer-icons {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.footer-icons__item {
    font-size: 2.4rem;
    padding: 4px 4px;
    
}

.footer-icons__item:hover {
    background-color: #ccc;
    cursor: pointer;
}

.footer__heading {
    font-size: 1.8rem;
    color:#ccc
}

.background-img {
    margin-top: 20px;
    padding-top: 50%; 
    
}

.btn-pay {
    min-width: 142px;
    border: none;
    border-radius: 2px;
    padding: 0 8px;
    cursor: pointer;
    line-height: 1.7rem;

    text-decoration: none;
    background-color: #009688;
    color: var(--white-color); 
    width: 100%;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.7rem;
    font-weight: 400;
    /* display: block; */
}

.btn-pay:hover {
    background-color: #ccc;
}



