.header__navbar {
    background-color: #000;
    height: 46px;
    display: flex;
    /* padding: 0 26px; */
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-item {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 12px 24px;
}

.nav-item:hover {
    background-color: #ccc;
    
}

.nav-item__search:hover {
    background-color: var(--primary-color);
}

.nav-item__link {
    text-decoration: none;
    color: var(--white-color);
}

.nav-item__arrow {
    color: var(--white-color);
}

.nav-item__more {
    position: relative;
}

.nav-item__more:hover  
.sub-nav {
    display: block;
}

.sub-nav {
    position: absolute;
    width: 150px;
    /* height: 80px; */
    top: calc(100% + 1px); 
    left: 0;
    list-style: none;
    background-color: var(--primary-color);
    padding-left: 0;
    display: none;
    z-index: 1;
}

.sub-nav-item {
    /* color: var(--white-color); */
    padding: 8px 16px;
}

.sub-nav-item:hover {
    background-color: #ccc;
}

.sub-nav-item__link {
    text-decoration: none;
    color: var(--white-color);
}

.slide-show {
    width: 100%;
}

.slide-show__img {
    width: 100%;
    position: relative;
}

.slide-show__content {
    margin: auto;
}

.slide-show__text {
    position: absolute;
    top: 70%;
    font-size: 2rem;
    color: var(--white-color);
    width: 100%;
    text-align: center;
}

.slide-show__text p {
    font-size: 1.6rem;
}


