
/* PC */
@media (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 739px) {
    .nav-list {
        display: inline-block;
    }
    .header__navbar {
        /* height: 12px; */
    }
    .nav-item__search {
        display: none;
    }
    .mobile-menu {
        display: block;
        font-size: 1.6rem;
        color: var(--white-color);
        background-color: #000;
        z-index: 3;
    }

    .mobile-menu:hover {
        background-color: #ccc;
    }
}