
/* PC */
@media (min-width: 1024px) {
    .mobile-menu {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .mobile-menu {
        display: none;
    }

}

/* Mobile */
@media (max-width: 739px) {
    .nav-list {
        display: block;
        /* max-height: 100%; */
    }
    
    .header__navbar--toggle {
        height: auto;    
    }
    .nav-item__search {
        display: none;
    }
    .mobile-menu {
        display: block;
        font-size: 1.6rem;
        color: var(--white-color);
        background-color: #000;
        text-align: start;
        z-index: 3;
    }

    .mobile-menu:hover {
        background-color: #ccc;
    }
}