:root {
    --primary-color: #EE4D2D;
    --white-color: #fff; 
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --blur-color: #fafafa;
    
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Reponsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px; 
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*2);
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: calc(100%/12*10);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    
}

.modal__body {
    --growth-from: 0.7; 
    --growth-to: 1;
    margin: auto;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.btn {
    height: 36px;
    min-width: 142px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 8px;
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn-size-s {
    height: 32px;
    font-size: 12px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background-color: #999;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  /* App Container */
  .app__container {
    background-color: #f5f5f5;
  }

.category {
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 4px 0 4px 0;
}

.category-heading {
    font-size: 1.6rem;
    font-weight: 300;
    padding-left: 12px;
}

.category-heading-icon {
    margin-right: 4px;
}

.category-list {
    list-style: none;
    padding: 0 12px 0 12px;

}

.category-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    transition: right linear 0.1s;
    right: 0;
}

.category-item:hover
.category-item__link {
    right: -4px;
    color: var(--primary-color);

}

.category-item__link--active {
    color: var(--primary-color);
}



