:root {
    --primary-color: #EE4D2D;
    --white-color: #fff; 
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
    margin: auto;
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.btn {
    height: 36px;
    min-width: 142px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 8px;
    cursor: pointer;
    color: var(--text-color);
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn-size-s {
    height: 32px;
    font-size: 12px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #ccc;
    cursor: default;
    background-color: #999;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
