.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#fd6032, #fa5230) ;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.nav-item {
    margin: 0 8px;
    position: relative;
}
.nav-item, 
.nav-item_link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.nav-item, 
.nav-item_link
.nav-icon-link {
    display: inline-flex;
    align-items: center;
}

.nav-item:hover, 
.nav-item_link:hover, 
.nav-icon-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7)
}

.nav-icon-link {
    color: var(--white-color); 
    text-decoration: none;
}

.nav-item_strong {
    font-weight: 500;
}

.nav-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.nav-icon-link:nth-child(2) {
    margin-left: 4px;
}

.nav-item_separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-item_title {
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    background-color: var(--white-color);
    width: 185px;
    position: absolute;
    left: 0; 
    top: 118%; 
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
    content: "";
    display: block;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px; 
    position: absolute;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-download {
    height: 18px;
    margin-left: 4px;
}

.header__qr-link:first-child {
    margin-left:5px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.nav-item-has-qr:hover .header__qr {
    display: block;
}

.header__notify {
    position: absolute;
    top: 118%; 
    right: 0;
    width: 400px;
    border-radius: 2px;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0, 0.1);
    transform-origin: calc(100% - 32px) right;
    animation: headerNotifyGrow ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -0px;
    top: -28px;
}

.header__notify::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    width: 90px;
    height: 12px;
    display: block;
}

.nav-item-has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #666;
    font-size: 1.4rem;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}
.header__notify-item {

}

.header__notify-item:hover {
    background-color: #f1f1f1;
}

.header__notify-item--viewed {
    background-color: rgba(238,75,43,0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    
}
.header__notify-img {
    width: 48px;
    object-fit: cover;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer {
    /* display: flex; */
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color); 
    width: 100%;
    padding: 4px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}

/* Authen Signup */
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px; 
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form {
    width: 500px;
    /* background-color: var(--white-color);
    border-radius: 5px; */
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border-radius: 2px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
    width: 500px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 4px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.btn--back {
    margin-right: 8px;
}

.auth-form__social {
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__social-icon {
    font-size: 1.8rem;
}

.auth-form__social--facebook {
    background-color: #3b5998;
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.auth-form__social--facebook
.auth-form__social-icon {
    color: var(--white-color);

}

.auth-form__social--google {
    color: #666;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    text-decoration: none;
}

.auth-form__social-title {
    margin: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    padding: 0 24px;
}

.auth-form__help-lost-password {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.4rem;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #555;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 14px;
    margin: 0 12px;
}

.header-with-search {
    height: var(--header-with-search-height); 
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex-grow: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
    display: inline-block;
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px; 
    border-radius: 3px; 
    
}

.header__search-select {
    color: var(--text-color);
    font-size: 1.3rem;
    border-left: 1px solid var(--border-color);
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    margin-left: 8px;
    
}

.header__search-select-arrow {
    margin: 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 35px;
    width: 59px;
    margin-right: 2px;
    border-radius: 2px;
}

.header__search-btn:hover {
    background-color: #ed5c3f;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    list-style: none;
    position: absolute; 
    right: 0;
    top: 100%;
    padding-left: 0;
    width: 120px;
    box-shadow: 0 1px 2px #ccc;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option-item:first-child {
    border-radius: 3px 3px 0 0;
}

.header__search-option-item:last-child {
    border-radius: 0 0 3px 3px;
}

.header__search-option::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
}

.header__search-select:hover
.header__search-option {
    display: block;
}

.header__search-option-item {
    background-color: var(--white-color);
    height: 30px;
    padding: 0 8px;
    padding-top: 4px;
}

.header__search-option-item span {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 0 8px 0 8px;
    display: none;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* Search History  */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    left: 0;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    box-shadow: 0 1px 3px #888;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 32px;
    font-size: 1.4rem;
    display: block;
}

.header__search-history-item {
    height: 32px;
    padding: 0 16px 4px;
}

.header__search-history-item:hover {
    background-color: var(--blur-color);
    /* cursor: pointer; */
}

/* .header__search-history-item:last-child {
    border-radius: 0 0 3px 3px;
} */

.header__search-history-heading {
    font-weight: 400;
    color: #999;
    font-size: 1.4rem;
    padding: 0 16px 4px;
}

/* Header cart */
.header__cart-list {
    text-align: center;
    width: 150px;
    position: relative;
}

.header__cart-empty {
    position: absolute;
    width: 420px;
    height: 60vh;
    /* vh = ViewPort Height */
    background-color: var(--white-color);
    top: 130%;
    right: 45px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px #ccc;
    transform-origin: calc(100% - 20px) right;
    animation: headerNotifyGrow ease-in 0.3s;
    will-change: opacity, transform;
    cursor: default;
    /* display: none; */
    overflow-y: auto;
    z-index: 3;
    
}

.header__cart-empty-icon {
    width: 100%;
    display: none;
}

.header__cart-empty::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -0px;
    top: -28px;
    z-index: 1;
}

/* .header__cart-empty::after {
    content: "";
    position: absolute;
    right: 0px;
    top: -5px; 
    height: 10px;
    width: 100%;
    background-color: white;
    display: block;
} */

.header__cart-list:hover .header__cart-empty {
    display: block;
    cursor: pointer;
}

.header-cart-wrap {
    display: inline-block;
}

.header__cart-list--empty
.header__cart-empty-icon {
    display: block;
}

.header__cart-badge {
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 1px 7px;
    font-size: 1.6rem;
    line-height: 1.4rem;
    position: absolute;
    top: -10px;
}

.header__cart-list-products {
    position: absolute;
    width: 100%;
}

.header__cart-products {
    list-style: none;
    padding-left: 0;
}

.product-item-img {
    width: 39px;
    height: 39px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.product-item-info {
    width: 100%; 
    padding-right: 8px;
}

.product-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.product-item-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item-name {
    flex: 1;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    margin: 0;
}
.product-item-price {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.product-item-multiply {
    font-size: 1.2rem;
}
.product-item-quantity {
    font-size: 1.2rem;
}

.product-item-description {
    font-size: 1.2rem;
    font-weight: 400;
    color: #ccc;
    margin: 0;
}

.product-item-delete:hover {
    color: var(--primary-color); 
}

.header__cart-product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-product-item:hover {
    background-color: var(--blur-color);
}

.header__cart-list-products-heading {
    text-align: left;
    font-weight: 400;
    color: #999;
    font-size: 1.4rem;
    margin: 4px 16px 4px 16px;
}

.header__cart-view {
    float: right;
    margin-right: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.header__cart-view {
    color: var(--white-color);
   
}

/* User Profile */
.user__profile {
    position: relative;
}

.user__profile-img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 50%;
}

.user__profile:hover 
.user__profile-option {
    display: block;
}

.user__profile-option {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #e0e0e0 ;
    display: none;
    z-index: 1;
}

.user__profile-option::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: -0px;
    top: -28px;
}

.user__profile::after {
    content: "";
    width: 160px;
    height: 100px;
    background-color: white;
    position: absolute;
    right: 0px;
    top: 120%;
    display: none;
}

.user__profile-option-item {
    color: var(--text-color);
    font-size: 1.3rem;
    height: 25px;
    margin-top: 4px;

}

.user__profile-option-item:last-child {
    color: green;
}

.user__profile-option-item:hover {
    background-color: var(--blur-color);
    
}

.user__profile-option-item a {
    margin: 2px 12px 2px;
    text-decoration: none;
    color: var(--text-color);
}

.user__profile-option-item--separate {
    border-color: #ccc;
    border-bottom: 1px solid rgba(0,0,0, 0.05);
}

/* App Container */
.app__container {
    background-color: #f5f5f5;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 4px 0 4px 0;
}

.category-heading {
    font-size: 1.6rem;
    font-weight: 300;
    padding-left: 12px;
}

.category-heading-icon {
    margin-right: 4px;
}

.category-list {
    list-style: none;
    padding: 0 12px 0 12px;

}

.category-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 300;
    transition: right linear 0.1s;
    right: 0;
}

.category-item:hover
.category-item__link {
    right: -4px;
    color: var(--primary-color);

}

.category-item__link--active {
    color: var(--primary-color);
}

.category-item__link--active::before {
    content: "";
    border-width: 4px 6px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
}

/* Home soft + filer */
.app__content {
    padding-top: 40px;
}

.home-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    
}

.home-filter__inner {
    display: flex;
    align-items: center;
}

.home-filter__sort {
    display: flex;
    align-items: center;
}

.home-filter__heading {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--text-color);
}

.home-filter__option {
    margin: 4px 8px;
    
}

.btn.home-filter__option {
    min-width: 90px;
}

.home-filter__price-text {
    margin-right: 150px;
    font-size: 1.4rem;
}

.home-filter__price-icon {
    font-size: 1.4rem;
}

.home-filter__price {
    position: relative;
    background-color: var(--white-color);
    height: 36px; 
    width: 200px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-filter__price-select {
    position: absolute;
    width: 100%;
    list-style: none;
    top: 100%;
    padding: 4px 8px;
    border-top: 1px solid rgba(0,0,0, 0.1);
    margin: 0;
    right: 0;
    background-color: var(--white-color);
    display: none;
    z-index: 2;
}

.home-filter__price-option {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--text-color);
}

.home-filter__price-option:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.home-filter__price:hover
.home-filter__price-select {
    display: block;
}

.home-filter__page {
    display: flex;
    align-items: center;
}

.home-filter__page-first {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-filter__page-last {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__page-icon {
    display: flex;
    height: 36px;
    width: 36px;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0,0.05);
    text-decoration: none;
    font-size: 1.4rem;

}

.home-filter__page-icon i {
    margin: auto;
}

.home-filter__page-icon--disabled {
    background-color: var(--blur-color);
    color: #cccccc;
    cursor: default;
}

.grid__home-filter {
    background-color: #ebebeb;
    height: 60px;
}

/* Product Item */
.home-product {
    padding-bottom: 20px;
}

.home-product-item {
    background-color: var(--white-color);
    position: relative;
    display: block;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.07);
    margin: 4px 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.home-product-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 20px 0 rgb(0 0 0 / 5%);
}

.home-product-item__img{
    margin-top: 10px;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
   
    overflow: hidden;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    display: block;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    text-decoration: line-through;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.4rem;
}

.home-product-item__price-current{
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.home-product-item__like{
    font-size: 1.4rem;
}

i.home-product-item__like--active {
    display: none;
    color: #ee4d2d;
}

.home-product-item__like--liked .home-product-item__like--active {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like--empty {
    display: none;
}

.home-product-item__rating{
    font-size: 1rem;
    color: #d5d5d5;
    /* transform: scale(0.8); */
    margin: -1px 0 0 auto;
}

.home-product-item__rating i {
    font-weight: 600;
}

.home-product-item__rating--active {
    color: #ffce3e;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #848484;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand{
}

.home-product-item__origin-name{

}

.home-product-item__favorite {
    position: absolute; 
    top: 10px;
    left: -4px;
    color: #ee4d2d;
    background-color: currentColor;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 4px 8px;
    border-radius: 2px;
    z-index: 1;
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    color: var(--white-color);
}

.home-product-item__favorite::after {
    content: "";
    position: absolute;
    left: 0; 
    bottom: -4px;
    border-top: 5px solid currentColor;
    border-left: 5px solid transparent;
    filter: brightness(60%);
}

.home-product-item__discount{
    position: absolute;
    right: 0; 
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 218, 75, 0.9);
    text-align: center;
}

.home-product-item__discount::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px; 
    border-width: 0 20px 6px; 
    border-style: solid;
    color: rgba(255, 218, 75, 0.9);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__discount-percent{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
}

.home-product-item__discount-label{
    color: var(--white-color);
    font-size: 1.5rem;
}


