:root {
    --text-color: red;
}

h1 {
    color: var(--text-color);
    font-size: 1.5rem;
}

/* REM Inherited from html tag */
/* EM inherited from latest tag */
li {
    color: var(--text-color);
    font-size: 1rem; 
}

td {
    color: var(--text-color)
}
    

.box {
    width: 100px;
    height: 100px;
    background-color: yellow; 
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}
.box2 {
    background-color: red;
}

.box3 {
    background-color: violet;
    padding: 10px 20px 30px;
    border: 10px solid #333
    
}


html {
    font-size: 100%;
}

body {
    font-size: 100%;
    width: 500px
}

/* vw - vh  */
/* viewport width - viewport height */

