h1.firstH1#firstIdh1 {
    color:red
}

.firstH1#firstIdh1 {
    color: navy
}

.firstH1 {
    color:rgb(63, 182, 69)
}

#firstIdh1 {
    color: yellow
}

h1 {
    font-weight: bold;
    color: violet;
    font-size: 70px;
}

li {
    color: green;
    font-style: italic;
    background-color: orange;
}

#li3 {
    background-color: yellow;
}

p {
    background: none;
    background-color: blue;
}

.firstTd {
    color:blueviolet;
}

* {
    color: black
}

/* Inherited tag selector */
html {
    color: burlywood
}