h1 {
    font-weight: bold;
    color: violet;
    font-size: 70px;
}

li {
    color: green;
    font-style: italic;
    background-color: orange;
}

#li3 {
    background-color: yellow;
}

p {
    background: none;
    background-color: blue;
}

.firstTd {
    color:blueviolet;
}