.nav {
    min-height: 30px; 
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    list-style: none;
    color: #fff;
    margin: 0 16px;
}

.form-container {
    margin-top: 10px;
}

.form__row {
    display: flex;
    justify-content: flex-start 
}

.form__input {
    flex: 1;
}

.form__label {
    min-width: 90px;
}

.column-layout {
    margin-top: 10px;
    padding: 12px 0;
    display: flex;
}

.column-item {
    flex: 1;
}

.sidebar-one {

}

.main-column {

}

.sidebar-two {

}

.feature-layout {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.feature-item {
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: #EF5122;
}

.feature-item:nth-child(2) {
    background-color: pink;
}

.feature-item:last-child {
    background-color: aquamarine;
}