* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

.nav {
    
    min-height: 30px; 
    background-color: #EF5122;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    list-style: none;
    color: #fff;
    margin: 0 16px;
}

.form-container {
    margin-top: 10px;
}

.form__row {
    display: flex;
    justify-content: flex-start 
}

.form__input {
    flex: 1;
}

.form__label {
    min-width: 90px;
}

.column-layout {
    margin-top: 10px;
    padding: 12px 0;
    display: flex;
}

.column-item {
    flex: 1;
}

.sidebar-one {
    order: 2;
    flex: 1
}

.main-column {
    order: 1;
    flex: 3;
}

.sidebar-two {
    order: 3;
    flex: 1
}

.feature-layout {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 740px) {
    .feature-layout {
        flex-direction: row;
    }
}

.feature-item {
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: #EF5122;
}

.feature-item:nth-child(2) {
    background-color: pink;
}

.feature-item:last-child {
    background-color: aquamarine;
}

.wrap-layout {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.wrap-layout__item {
    font-size: 48px;
    font-weight: 700;
    background-color: #EF5122;
    width: 148px;
    height: 90px;
    line-height: 90px;
    color: white;
    text-align: center;
}

.center-layout {
    background-color: rgb(192, 227, 194);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}

.center-layout__item {
    margin: auto; 
    font-size: 48px;
    font-weight: 700;
}

.chart-layout {
    margin: 36px auto 0 auto; 
    padding: 32px 0; 
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.chart-layout__item {
    /* align-self: flex-end; Alternate for align-items */
    background-color: #EF5122;
    color: #fff;
    text-align: center;
    height: var(--percent);
    width: 50px;
    animation: growth ease-in 3s; 
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent)/2);
    }
    to {
        opacity: 1;
        height: calc(var(--percent));
    }
}

.the-end {
    display: flex;
    margin: 12px auto 48px auto;
    max-width: 948px;
    min-height: 360px;
    /* align-items: center; */
}

.the-end__first {
    background-color: gray;
    flex: 1; 
    padding: 4px 16px;
}

.the-end__second {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.the-end__second-one {
    background-color: aqua;
    flex: 1;
    padding: 4px 16px;
}

.the-end__second-two {
    background-color: blueviolet;
    padding: 4px 16px;
    flex: 1;
}

